*{
  font-family: "Helvetica";
  font-weight: bold;
  margin-left: none;
  list-style-type: none;
}

li > img{
vertical-align: top;
}


.octodex{
display: inline-block;
margin-left: none;
}

.octocat{
  display: inline-block;
  vertical-align: top;
  max-width: 31%;
  width: 375px;
  margin-left: 35px;
  margin-right: 0px;
  position: relative;
  left: -50px;
  top: 4px;
}

.octocat img{
  max-width: 100%;
  border: 3px solid lightgrey;
  border-radius: 4px;
  padding: 5px 10px;
}



li{
  display: inline-block;
}

.image-footer{
  display: inline-block;
  text-align: right;
  margin-right: -20px;
  float: right;
  height: 40px;
  width: 400px;
  border-bottom: 2px solid grey;
  position: relative;
  right: 0;
}

.image-number{
  float: left;
  display: inline-block;
  text-align: left;
  color: #CCCCCC;
  vertical-align: middle;
  margin-left: 5px;
  margin-top: 10px;
  list-style-type: none;
}

.image-caption{
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  color: grey;
}

.image-footer .image-caption span{
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
}

.image-footer .image-caption a{
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.authors img{
  display: inline-block;
  float: right;
  width: 28px;
  height: 28px;
  vertical-align: top;
  border: 1px solid #E2E2E2;
  padding: 0px;
  margin-top:3px;
}

.image-footer:before{
content: "";
display: block;
height: 0;
width: 0;
border: 8px solid transparent;
border-top-color: #cacaca;
position: absolute;
right: 7px;
top: 0;
margin-top: -5px;
}


ul .authors{
  display: inline-block;
max-height: 5px;
}


.image-footer img{
  display: inline-block;
vertical-align: top;
}


.image-caption li{
  display: inline-block;
}

.image-caption span{
  display: inline-block;
  padding-left: -40px;
}

.image-footer ul{
  vertical-align: top;
}
