.octodex {
  padding: 1em;
  -moz-column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-count: 3;
  -webkit-column-gap: 1em;
  column-count: 3;
  column-gap: 1em;
}

img {
  max-width: 100%;
}

.image-caption a {
text-decoration: none;
color: black;
}

.octodex li {
  list-style-type: none;
}

.octocat > a > img{
border: 1px solid lightgrey;
border-radius: 1%;
margin-bottom: 10px;
}

.authors li {
  display: inline;
  list-style-type: none;
}

.authors img{
  display: inline;
  width: 6%;
}

.image-footer {
display: inline-block;
width: 100%;
border-bottom: 1px solid lightgrey;
text-align: right;
padding-bottom: 10px;
}

.image-caption {
  display: inline;
  font-family: helvetica;
  font-size: 14px;
  font-weight: bold;
  color: grey;


}

.image-number:before {
  content: "#";
}

.image-number {
  display: inline-block;
  font-family: helvetica;
  color: #cacaca;
  float: left;
}

ul{
  padding: 0px;
}
.authors {
  display: inline;
}
